.card {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #333;
  font-size: 1.25rem;
}

.card-text {
  color: #777;
}

.row {
  margin-top: 20px;
}